################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySolution/.vs/MySolution
/MySolution/MyConsoleProject/bin/Debug
/MySolution/MyConsoleProject/obj/Debug
/MySolution/ICustomer/obj/Debug
/MySolution/MiddleLayer/obj/Debug
/MySolution/DataAccessLayer/obj/Debug
/MySolution/MyConsoleProject/obj/Release
/MySolution/SomeLibrary/obj
/MySolution/SomeReflectionLibrary/bin/Release
/MySolution/SomeReflectionLibrary/obj/Release
/Azure
/Certificates
/MVC Core
/MySolution/DataAccessLayer/bin/Debug
/MySolution/DataTypeLearning/bin/Debug
/MySolution/DataTypeLearning/obj/Debug
/MySolution/Delegate/bin/Debug
/MySolution/Delegate/obj/Debug
/MySolution/DependencyInjection/bin/Debug
/MySolution/DependencyInjection/obj/Debug
/MySolution/DesignPatterns/bin/Debug/net8.0
/MySolution/DesignPatterns/obj/Debug/net8.0
/MySolution/DesignPatterns/obj
/MySolution/ExtensionMethods/bin/Debug
/MySolution/ExtensionMethods/obj/Debug
/MySolution/LinQTest/bin/Debug
/MySolution/LinQTest/obj/Debug
/MySolution/MEF/obj/Debug
/MySolution/MEF/bin/Debug
/MySolution/MemoryLeakTest/bin/Debug
/MySolution/MemoryLeakTest/obj/Debug
/MySolution/MiddleLayer/bin/Debug
/MySolution/OutVsRef/bin/Debug
/MySolution/OutVsRef/obj/Debug
/MySolution/ReflectionTest/bin/Debug
/MySolution/ReflectionTest/obj/Debug
/MySolution/ReflectionTestLib/bin/Debug
/MySolution/ReflectionTestLib/obj/Debug
/MySolution/RegExLearning/bin/Debug
/MySolution/RegExLearning/obj/Debug
/MySolution/Thread/bin/Debug
/MySolution/Thread/obj/Debug
/OOPS
/PDFs
